<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type= 'text/css' href='./utilities/reset.css'>
		<link rel='stylesheet' type= 'text/css' href='style.css'>
	</head>
	<body>
		<div class='header'>
			The Ela Museum
		</div>
		<div class='nav-bar'>
			<h1 class='nav-header'>Browse Our Collection</h1>
			<div class='nav-btn-container'>
				<button class='nav-btn'>All Artworks</button>
				<button class='nav-btn'>Color Photos</button>
				<button class='nav-btn'>Black/White Photos</button>
				<button class='nav-btn'>Negatives</button>
				<button class='nav-btn'>Textiles</button>
				<button class='nav-btn'>Prints</button>
			</div>
		</div>
		<div id='app'>
				<artwork-item
					v-for='item in artworksList'
					v-bind:artwork='item'
					v-bind:key='item.id'
					class='artwork-item'>
				</artwork-item>
			<!-- <ol>
				<artwork-item
					v-for='item in artworkList'
					v-bind:artwork='item'
					v-bind:key='item.objectnumber'>
				</artwork-item>
			</ol> -->
		</div>

		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
		<script src='index.js'></script>
	</body>
</html>