body {
	font-family: Avenir,Helvetica,Arial,sans-serif;;
}

button {
	cursor: pointer;
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 7rem;
	width: 100%;
	background-color: #FFF;
	font-size: 4rem;
	padding: 0 0 0 2rem;
	border-bottom: 1px solid #EEE;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 10rem;
	width: 100%;
	background-color: #FFF;
	font-family: 'avenir';
	font-size: 2rem;
	border-bottom: 1px solid #EEE;
}

.nav-header {

}

.nav-btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 0 0;
}

.nav-btn {
	width: 8rem;
  font-size: 1rem;
  background-color: #fff;
  color: #514f4f;
  height: 2rem;
  border: none;
}

.nav-btn:hover {
	color: #949090;
}

#app {
	display: grid;
	grid-gap: 2rem;
	margin: 0 auto;
  justify-content: center;
	padding: 1rem 0 0 0;
	grid-template-columns: repeat(auto-fit, 16rem);
	width: 80%;
}

.artwork-item {
	width: 15rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
}

.artwork-image {
	max-width: 100%;
	border-radius: 3px;
}

.no-image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 6rem;
	border: 1px solid #666;
	border-radius: 3px;
}

.artwork-data-container {
	margin: 0.75rem 0 0 0;
}

.artwork-title {
	color: #000;
}

.artwork-artist {
	color: #4d4a4a;
}

.artwork-medium {
	color: #777;
}

.artwork-date {
	color: #999;	
}

.artwork-data {
  text-align: center;
  margin: 0 0 0.25rem 0;
  line-height: 1.25rem;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7rem;
	width: 100%;
	background-color: #FFF;	
	margin: 1rem 0 0;
	font-size: 1rem;
	border-top: 1px solid #EEE;
}

.copyright {
	margin: 0 0.25rem 0 0;
}

.footer-link {
	color: #4d4a4a;
	text-decoration: none;
}

@media screen and (max-width: 1040px) {
	#app {
		grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
		/*width: 100%;*/
	}
}

@media screen and (max-width: 800px) {
	.header {
		justify-content: center;
		padding: 0;
	}
}

@media screen and (max-width: 530px) {
	.header {
		font-size: 3rem;
	}
	.nav-header {
		font-size: 1.75rem;
	}
}

@media screen and (max-width: 411px) {
	.header {
		font-size: 2.5rem;
	}
	.nav-header {
		font-size: 1.5rem;
	}
}
