body {
	font-family: Avenir,Helvetica,Arial,sans-serif;;
}

button {
	cursor: pointer;
}

.header {
	align-items: center;
	border-bottom: 1px solid #EEE;
	background-color: #FFF;
	display: flex;
	font-size: 4rem;
	height: 7rem;
	justify-content: flex-start;
	padding: 0 0 0 2rem;
	width: 100%;
}

.nav-bar {
	align-items: center;
	background-color: #FFF;
	border-bottom: 1px solid #EEE;
	display: flex;
	flex-direction: column;
	font-family: 'avenir';
	font-size: 2rem;
	height: 5rem;
	justify-content: center;
	width: 100%;
}

#app {
  justify-content: center;
	margin: 0 auto;
	padding: 2rem 0 0 0;
	width: 80%;
}

.next-previous-container {
	align-items: center;
	display: flex;
	height: 5rem;
	justify-content: center;
	margin: 0 0 1rem 0;
}

.next-previous {
  border: 1px solid #777;
  border-radius: 3px;
  font-size: 1rem;
  height: 1.75rem;
  margin: 0 2rem;
	width: 6rem;
}

.next-previous:hover {
	background-color: #514f4f;
	border: 1px solid #514f4f;
	color: #FFF;
}

.page-counter {
	font-size: 1rem;
	text-align: center;
}

.artwork-item-container {
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, 16rem);
  justify-content: center;
	margin: 0 auto;
}

.artwork-item {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 15rem;
}

.artwork-image {
	border-radius: 3px;
	max-width: 100%;
}

.no-image-container {
	align-items: center;
	border: 1px solid #666;
	border-radius: 3px;
	display: flex;
	height: 6rem;
	justify-content: center;
	width: 100%;
}

.artwork-data-container {
	margin: 0.75rem 0 0 0;
}

.artwork-title {
	color: #000;
}

.artwork-artist {
	color: #4d4a4a;
}

.artwork-medium {
	color: #777;
}

.artwork-date {
	color: #999;	
}

.artwork-data {
  line-height: 1.25rem;
  margin: 0 0 0.25rem 0;
  text-align: center;
}

.footer {
	align-items: center;
	background-color: #FFF;	
	border-top: 1px solid #EEE;
	display: flex;
	font-size: 1rem;
	height: 7rem;
	justify-content: center;
	margin: 1rem 0 0;
	width: 100%;
}

.copyright {
	margin: 0 0.25rem 0 0;
}

.footer-link {
	color: #4d4a4a;
	text-decoration: none;
}

@media screen and (max-width: 1040px) {
	#app {
		grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
	}
}

@media screen and (max-width: 800px) {
	.header {
		justify-content: center;
		padding: 0;
	}
}

@media screen and (max-width: 530px) {
	.header {
		font-size: 3rem;
	}
	.nav-header {
		font-size: 1.75rem;
	}
}

@media screen and (max-width: 411px) {
	.header {
		font-size: 2.5rem;
	}
	.nav-header {
		font-size: 1.5rem;
	}
	
	.next-previous-container {
		height: 3rem;
	}

	.next-previous {
	  font-size: 0.85rem;
	  height: 1.75rem;
	  margin: 0 0.5rem;
		width: 6rem;
	}

	.page-counter {
		font-size: 0.8rem;
	}

}
