body {
	font-family: Avenir,Helvetica,Arial,sans-serif;;
}

button {
	cursor: pointer;
}

.header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 7rem;
	width: 100%;
	background-color: #FFF;
	font-family: 'avenir';
	font-size: 4rem;
	padding: 0 0 0 2rem;
	border-bottom: 1px solid #EEE;
}

.nav-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 10rem;
	width: 100%;
	background-color: #FFF;
	font-family: 'avenir';
	font-size: 2rem;
	border-bottom: 1px solid #EEE;
}

.nav-header {

}

.nav-btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 0 0;
}

.nav-btn {
	width: 8rem;
  font-size: 1rem;
  background-color: #fff;
  color: #514f4f;
  height: 2rem;
  border: none;
}

.nav-btn:hover {
	color: #949090;
}

#app {
	display: grid;
	grid-gap: 2rem;
	margin: 0 auto;
  justify-content: center;
	padding: 1rem 0 0 0;
	grid-template-columns: repeat(auto-fit, 16rem);
	width: 80%;
}

.artwork-item {
	width: 15rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
}

.artwork-image {
	max-width: 100%;
}

.artwork-data-container {
	margin: 0.5rem 0 0 0;
}

.art-title {
	color: #000;
}

.art-technique {
	color: #666;
}

.art-medium {
	color: #666;
}

.art-date {
	color: #999;	
}

.artwork-data {
  text-align: center;
  margin: 0 0 0.25rem 0;
  line-height: 1.25rem;
}